body{
	font-family: 'Open Sans', sans-serif;
}
ul,li,a,h1,h2,h3,h4,h5,p,span{
	font-family: 'Open Sans', sans-serif;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a:hover{
	text-decoration: none;
}
.layout-wrapper{
	position: relative;
}
@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 767px) {
	.dark-title, .white-title{
		font-size: 28px;
	}
	.subtitle-text{
		font-size: 16px;
	}
}

