/*---------------------------Upper Header-------------*/
.nav-link{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #e5e5e5;
  text-transform: uppercase;
  margin-right: 5px;
  padding: 10px 15px!important;
  transition: ease .2s;
  cursor: pointer;
}
.nav-link:hover, .nav-link:focus{
  background-color: #cc2027;
  color: #fff;
}
.navbar{
  padding: 0;
  background-color: #222222;
  min-height: 41px;
}
.navbar-brand img{
  width: 200px;
}
.active{
  background-color: #cc2027!important;
}
.navbar-collapse{
  justify-content: center;
}
@media only screen and (max-width: 500px){
  .bg-custom-header.navbar{
    padding: 0;
    background-color: #222222;
    min-height: 35px;
  }
}
/*---------------------------Clock-------------*/
.time-clock{
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
  align-items: center;
}
.current-time{
	font-size: 14px;
  font-weight: 600;
  color: #e5e5e5;
  margin: 0 5px;
}
.fa-clock{
	color: #e5e5e5;
	margin-left: 20px;
	font-size: 18px;
}
.time-clock span{
	color: #e5e5e5;
	font-size: 14px;
	font-weight: 600;
}
@media only screen and (max-width: 500px){
  .current-time, .time-clock span{
    font-size: 12px;
  }
  .fa-clock{
    font-size: 14px;
  }
}
/*---------------------------Lang bar-------------*/
.lang-bar{
  position: absolute;
  right: 0px;
  top: 8px;
  z-index: 99;
}
.lang-bar span{
	background-color: #7b0005;
  padding: 10px;
  color: #fff;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 0px;
  transition: ease .2s;
}
.lang-bar span:last-of-type{
  margin: 0;
}
.lang-bar span:hover{
	background-color: #cc2027;
}
@media only screen and (max-width: 991px){
  .lang-bar span{
    font-size: 14px;
    padding: 11px;
  }
}
@media only screen and (max-width: 500px){
  .lang-bar{
    top: 3px;
  }
  .lang-bar span {
    padding: 10px;
  }
}
/*-------------------------Slider--------------------*/
.slide img{
  width: 100%;
}
.slider-overlay img{
  width: 280px;
  margin: 13vh 0 4vh;
}
.main-slider .slick-slide{
  visibility: hidden!important;
}
.main-slider .slick-slide.slick-active.slick-current{
  visibility: visible!important;
}
.slider-overlay h2{
  font-size: 42px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  max-width: 500px;
  font-weight: 300;
  margin: 0 0 7vh;
}
.slider-overlay p{
  max-width: 560px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.43;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5vh;
}
.main-slider{
  position: relative;
  overflow: hidden;
  max-height: 85vh;
}
.slider-overlay{
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 9%;
  color: #fff;
}
.slider-register{
  display: inline-block;
  padding: 14px 30px;
  background-color: #c91f25;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  margin-right: 8px;
  cursor: pointer;
  min-width: 174px;
  text-align: center;
  transition: ease .2s
}
.slider-log-in{
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  border: solid 2px #ffffff;
  background-color: rgba(49, 49, 49, 0.5);
  font-size: 17px;
  min-width: 174px;
  text-align: center;
  cursor: pointer;
  transition: ease .2s
}
.main-slider .slider-log-in:hover{
  background-color: #fff;
  color: rgba(49, 49, 49, 1);
}
.main-slider .slider-register:hover{
  background-color: #940f14;
}
@media only screen and (max-width: 1400px){
  .slider-overlay img{
    width: 200px;
    margin: 7vh 0 4vh;
  }
  .slider-overlay h2{
    font-size: 30px;
    max-width: 330px;
    margin: 0 0 5vh;
  }
  .slider-overlay p {
    max-width: 360px;
    font-size: 15px;
  }
  .slider-register, .slider-log-in{
    min-width: 150px;
    font-size: 15px;
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 1100px){
  .slider-overlay img{
    width: 160px;
    margin: 5vh 0 3vh;
  }
  .slider-overlay h2{
    font-size: 26px;
    max-width: 280px;
    margin: 0 0 4vh;
  }
  .slider-overlay p {
    max-width: 330px;
    font-size: 14px;
    margin-bottom: 3vh;
  }
  .slider-register, .slider-log-in{
    min-width: 150px;
    font-size: 14px;
    padding: 10px 25px;
  }
  .slider-overlay{
    left: 25px;
  }
}
@media only screen and (max-width: 900px){
  .slider-overlay img{
    width: 100px;
    margin: 21px 0 10px;
  }
  .slider-overlay h2{
    font-size: 18px;
    max-width: 200px;
    margin: 0 0 15px;
  }
  .slider-overlay p {
    max-width: 275px;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .slider-register, .slider-log-in{
    min-width: 120px;
    font-size: 13px;
    padding: 8px 17px;
  }
}
@media only screen and (max-width: 700px){
  .slider-overlay img{
    margin: 10vh 0 15px;
  }
  .slider-overlay p {
    display: none;
  }
  .slider-overlay h2 {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 500px){
  .slider-overlay img{
    margin: 7vh 0 10px;
    width: 80px;
  }
  .slider-overlay h2 {
    font-size: 14px;
    max-width: 145px;
  }
  .slider-register, .slider-log-in{
    display: none;
  }
}

/*-------------------------Casino Box-------------------*/
.casino-box-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 9%;
  box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.15);
}
.casino-box-content svg{
  width: 35px;
  margin-left: 7px;
  height: auto;
}
.casino-box-content a{
  font-size: 22px;
  font-weight: 800;
  color: #5d5d5d;
  text-transform: uppercase;
}
.casino-box-text{
  max-width: 460px;
}
.casino-box-text p{
  margin: 0;
}
.casino a, .casino-live a, .sport a{
  display: flex;
  align-items: center;
  transition: ease .2s;
}
.casino a:hover, .casino-live a:hover, .sport a:hover{
  color: #c91f25;
}
.casino a:hover > object path, .casino-live a:hover > object path, .sport a:hover > object path{
  fill: #c91f25;
}
.casino-box-text h4{
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}
.casino-box-text p{
  font-size: 15px;
  line-height: 1.45;
  color: #86878b;
}
@media only screen and (max-width: 1350px){
  .casino-box-content{
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 1150px){
  .casino-box-content a {
    font-size: 16px;
  }
  .casino-box-text p{
    font-size: 14px;
    max-width: 310px;
  }
  .casino-box-text h4{
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px){
  .casino-box-content{
    flex-wrap: wrap;
  }
  .casino-box-text{
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .casino-box-text p, .casino-box-text h4{
    text-align: center;
  }
  .casino-box-text p{
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 560px){
  .casino-box-content a {
      font-size: 14px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
  }
  .casino-box-content object{
    width: 100%;
    order: 0;
  }
  .casino-box-content svg{
    margin-left: 0;
  }
  .casino-box-content a span{
    order: 1;
    line-height: 1.2;
    margin-top: 5px;
  }
    .casino-box-content{
    padding: 20px 0;
  }
}
@media only screen and (max-width: 380px){
  .casino-live span{
    max-width: 100px
  }
}
/*----------------------------Service Box--------------------*/
.service-placeholder{
  text-align: center;
  padding: 110px 0;
}
.dark-title{
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: bold;
  color: #212121;
}
.title-red-line{
  width: 88px;
  height: 2px;
  background-color: #c91f25;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.subtitle-text{
  font-size: 17px;
  color: #86878b;
}
.service-title-box{
  margin-bottom: 90px;
}
.service-box i{
  border: solid 3px #c91f25;
  border-radius: 100px;
  color: #c91f25;
  padding: 11px;
  font-size: 34px;
  width: 62px;
}
.service-box h4{
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  margin: 20px 0 30px;
}
.service-box p{
  font-size: 15px;
  line-height: 1.45;
  color: #86878b;
}
@media only screen and (max-width: 767px){
  .service-placeholder {
    padding: 50px 0;
  }
  .service-title-box {
    margin-bottom: 60px;
  }
  .service-box h4{
    font-size: 19px;
    margin: 15px 0 20px;
  }
  .service-box p{
    font-size: 14px;
    margin-bottom: 30px;
  }
  .service-box i{
    font-size: 25px;
    width: 53px;
  }
}
/*--------------------------------News Slider----------------------*/
.news-slider{
  overflow: hidden;
  text-align: center;
  background: url(../../../images/slider/news-slider.jpg);
  padding: 50px 0 60px;
}
.white-title{
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: bold;
  color: #fff;
}
.title-white-line{
  width: 88px;
  height: 2px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.news-slider h4{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
.news-slider p{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.news-slider .all-news span{
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  padding: 12px 25px;
  border-radius: 3px;
  border: solid 1px #ffffff;
  cursor: pointer;
  transition: ease .2s;
}
.news-slider .all-news span:hover{
  background-color: #fff;
  color: rgba(49, 49, 49, 1);
}
@media only screen and (max-width: 991px){
  .news-slider p{
    font-size: 14px;
    max-width: 530px
  }
  .news-slider .all-news span{
    font-size: 14px;
  }
  .news-slider h4{
    font-size: 16px;
  }
}
@media only screen and (max-width: 560px){
  .news-slider p{
    max-width: 290px;
    margin-bottom: 40px;
  }
}
/*--------------------------------ContactForm----------------------------*/
.winbetForm{
  text-align: center;
  padding: 110px 80px;
}
.form-fields{
  padding: 70px 0 50px;
}
.winbetForm input, .winbetForm textarea{
  border: none;
  border-bottom: solid 1px #d2d2d2;
  border-radius: 0;
  margin-bottom: 30px;
}
.winbetForm textarea{
  width: 100%;
  height: 100%;
  resize: none;
}
.winebtForm input:focus, .winebtForm textarea:focus{
  outline: none;
}
.form-control:focus{
  outline: none!important;
  border: none!important;
  box-shadow: none!important;
  border-bottom: solid 1px #d2d2d2!important;
}
.winbetForm .has-error{
  border-bottom: 1px solid #F44336!important;
}
.btn-submit{
  background-color: #c91f25;
  color: #fff;
  padding: 12px 50px;
}
.btn-submit:focus{
  outline: none;
  box-shadow: none;
}
.winbetForm button[disabled]{
  cursor: not-allowed;
}
.left-col input:last-of-type{
  margin-bottom: 0;
}
input::placeholder{
  color: #d2d2d2!important;
  opacity: 1;
}

input:-ms-input-placeholder {
   color: #d2d2d2!important;
}

input::-ms-input-placeholder {
  color: #d2d2d2!important;
}
textarea::placeholder{
  color: #d2d2d2!important;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: #d2d2d2!important;
}

textarea::-ms-input-placeholder {
  color: #d2d2d2!important;
}
@media only screen and (max-width: 767px){
  .winbetForm {
      text-align: center;
      padding: 50px 10px;
  }
  .winbetForm textarea{
    margin-top: 30px;
  }
  .form-fields {
    padding: 45px 0 60px;
  }
  .btn-submit {
    padding: 10px 35px;
  }
}
/*----------------------------------------Succeed modal-------------------------*/
.succeed-modal .modal-header{
  border:none!important;
  background-color: #5c9731!important;
  color: #fff!important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.succeed-modal .modal-header button{
  color: #fff!important;
}
@media only screen and (max-width: 575px){
  .succeed-modal.modal-dialog {
    margin: 25vh auto;
    max-width: 200px;
  }
  .succeed-modal .modal-title{
    font-size: 14px;
  }
  .succeed-modal .close{
    position: absolute;
    top: 0;
    right: 4px;
  }
}
/*------------------------------------------SocialBox-------------------------------*/
.social-box{
  background-image: linear-gradient(to top, #840000, #cc2027);
  padding: 40px 0;
}
.social-icons{
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.social-item{
  font-size: 26px;
  background-color: #d9d9d9;
  border-radius: 100px;
  width: 42px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease .3s all;
  -webkit-transition: ease .3s all;
  margin: 0 3px;
  transition: ease .2s;
}
.social-item:hover{
  opacity: 0.7;
}
.social-item a{
  color: #cf000d;
}
.social-text li, .social-text h4{
  font-size: 13px;
  line-height: 1.69;
  text-align: left;
  color: #ffffff;
}
.social-text h4{
  font-weight: 800;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px){
  .social-text h4, .social-text li{
    text-align: center;
  }
  .social-text ul{
    margin-bottom: 20px
  }
}
/*---------------------------------Log in---------------------------*/
.login-form{
  max-width: 350px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  text-align: center;
}
.log-in-modal{
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: none;
  padding: 5px 30px;
  transition: ease .2s;
  border: 0;
  background-color: #5c9731;
}
.log-in-modal:hover, .log-in-modal:focus, .log-in-modal:active{
  color: #fff;
  background-color: #457720!important;
  outline: none;
  box-shadow: none!important;
}
.modal-header{
  justify-content: center;
}
.close{
  position: absolute;
  top: 15px;
  right: 15px;
}
.close:focus{
  outline: none;
}
.modal-dialog{
  margin: 10vh auto;
}
.login-form .form-control{
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
    border-radius: 0;
    border-bottom: solid 1px #d2d2d2!important;
}
@media only screen and (max-width: 575px){
  .log-modal-box{
    max-width: 280px;
  }
  .log-modal-box .modal-title{
    font-size: 15px;
  }
  .log-modal-box .form-control{
    font-size: 14px;
  }
  .log-modal-box .log-in-modal{
    font-size: 15px;
  }
}
/*---------------------------------Single News Slider----------------------*/
.single-news-slider{
  max-width: 750px;
  margin: 35px auto;
}
.single-news-slider .slide{
  padding: 0 8px;
}
.single-news-slider-img{
  height: 234px;
  cursor: pointer;
}
.single-news-slider .slick-prev:before, .single-news-slider .slick-next:before{
  content: '';
}
.single-news-slider .slick-arrow.slick-next{
  background: url(../../../images/slider/right-arrow.png) center no-repeat;
  background-size: contain;
}
.single-news-slider .slick-arrow.slick-prev{
  background: url(../../../images/slider/left-arrow.png) center no-repeat;
  background-size: contain;
}
.slick-disabled {
    display: none !important;
}
.single-news-slider .not-visible{
  height: 0;
}
.single-news-slider .slick-track{
  margin-left: 0!important
}
/*Detail view*/
#viewerBackdrop ._e296pg, #viewerBackdrop .content_e296pg{
  margin-top: -25vh;
}
#viewerBackdrop button[title="right"], #viewerBackdrop button[title="left"]{
  margin-top: -20vh;
}
#viewerBackdrop button:focus{
  outline: none;
}