/*---------------------------Upper Header-------------*/
.nav-link{
	font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #e5e5e5;
  text-transform: uppercase;
  margin-right: 5px;
  padding: 10px 15px!important;
  transition: ease .2s;
  cursor: pointer;
}
.nav-link:hover, .nav-link:focus{
	background-color: #cc2027;
	color: #fff;
}
.navbar{
	padding: 0;
	background-color: #222222;
}
.active{
	background-color: #cc2027!important;
}
/*---------------------------Down Header-------------*/
.logo-box{
	background-image: linear-gradient(to top, #840000, #cc2027);
	padding: 10px 0;
	cursor: pointer;
}